body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.allContent{
 background-color: aquamarine;
 display:"flex";
 flex:1;
 flex-direction: row;
}
